@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="https://localhost:7174/Countries">Countries</a></li>
    <li><a href="https://localhost:7174/Events">Events</a></li>
    <li><a href="https://localhost:7174/Participations">Participations</a></li>
    <li><a href="https://localhost:7174/Songs">Songs</a></li>
    <li><a href="https://localhost:7174/Votes">Votes</a></li>
</ul>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
